<div class="container">
  <h1>Shotgun</h1>
  <h4>An ESPN API production.</h4>

  <button type="button" id ='headlines'>Top 10 Headlines</button>
  <button type="button" id ='nfl'>NFL Teams</button>
  <button type="button" id ='ravensnews'>Ravens News</button>